.dialog-content {
    display: flex;
    flex-direction: row;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 15px;
}

@media screen and (max-width: 1024px) {
    .dialog-content {
        flex-direction: column;
        align-items: center;
    }
}