<div class="primary-header">
    <h1>Sentiment Chef</h1>
    <h2>AI-Driven Sentiment Analysis and Summarization for Restaurant Reviews</h2>
    <h3>Powered by MongoDB Atlas and Google's Gemini model</h3>
</div>

<div class="restaurant-card-wrapper">
    <mat-card
        class="restaurant-card"
        *ngFor="let restaurant of restaurants; index as i, first as isFirst"
        [class.first]="isFirst"
    >
        <mat-card-header>
            <mat-card-title><a [routerLink]="'/restaurants/' + restaurant._id">{{ restaurant.name }}</a></mat-card-title>
            <mat-card-subtitle class="restaurant-card-details">
                <span>Cuisine: {{ restaurant.cuisine }}</span>
                <span>Rating: ⭐⭐⭐⭐⭐</span>
            </mat-card-subtitle>
        </mat-card-header>

        <ng-container *ngIf="isFirst; then firstImage; else subsequentImage">
        </ng-container>

            <ng-template #firstImage>
                <img
                    priority
                    [routerLink]="'/restaurants/' + restaurant._id"
                    class="img-link cropped"
                    width="600"
                    height="400"
                    mat-card-image
                    [ngSrc]="restaurant.imageURL"
                    [alt]="restaurant.name"
                />
            </ng-template>

            <ng-template #subsequentImage>
                <img
                    [routerLink]="'/restaurants/' + restaurant._id"
                    class="img-link cropped"
                    width="600"
                    height="400"
                    mat-card-image
                    [ngSrc]="restaurant.imageURL"
                    [alt]="restaurant.name"
                >
            </ng-template>

        <mat-card-content>

            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="'/restaurants/' + restaurant._id">Go to restaurant</a>
        </mat-card-actions>
    </mat-card>
</div>

<app-restaurants-list-guided [restaurants]="restaurants"></app-restaurants-list-guided>