<form class="review-form" autocomplete="off" [formGroup]="reviewForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Review</mat-label>
        <textarea matInput formControlName="text" 
            rows="5" required></textarea>
    </mat-form-field>

    <button class="submit-review" mat-raised-button color="primary" type="submit" [disabled]="reviewForm.invalid">Submit review</button>
</form>