.review-form {
    display: flex;
    flex-direction: column;
}

.submit-review {
    padding: 27px 0;
    font-size: 20px;
    border-radius: 30px;
}

.dropzone {
    border-radius: 6px;
    min-height: 100px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;

    .text-wrapper {
        display: table-cell;
        vertical-align: middle;

        div {
            font-weight: bold;
            text-align: center;
        }
    }
}
