<form class="review-form" autocomplete="off" [formGroup]="reviewForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Review</mat-label>
        <textarea matInput formControlName="text" rows="5" required></textarea>
    </mat-form-field>

    <div *ngIf="!fileHandles.length" class="dropzone" appDrag (files)="filesDropped($event)">
        <div class="text-wrapper">
            <div>Drag and drop your images and videos here</div>
        </div>
    </div>

    <div class="media-preview">
        <app-media-preview *ngFor="let file of uploadedImages" [file]="file" size="small">
        </app-media-preview>
    </div>

    <button class="submit-review" mat-raised-button color="primary" type="submit" [disabled]="reviewForm.invalid || uploading">Submit
        review</button>
</form>
