<div class="restaurant-wrapper" *ngIf="restaurant">
    <div class="restaurant-banner">
        <img class="restaurant-cover" priority fill [ngSrc]="restaurant.imageURL" [alt]="restaurant.name" />
    </div>

    <div class="restaurant-section-wrapper">
        <section class="restaurant-section">
            <div>
                <mat-card class="restaurant-card restaurant-card-details-page restaurant-card-header-details">
                    <mat-card-header>
                        <mat-card-title><h2>Overview</h2></mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <h1 class="restaurant-name">{{ restaurant.name }}</h1>

                        <section class="restaurant-details">
                            <div class="restaurant-features">
                                <div>🍽️ {{ restaurant.cuisine }}</div>
                                <div>📍 {{ restaurant.borough }}</div>
                            </div>
                            <mat-divider></mat-divider>

                            <div class="restaurant-description">
                                Nestled in the heart of a bustling city, the gastronomic paradise of "Flavorsome Haven"
                                beckons food enthusiasts with
                                its enchanting ambiance and delectable culinary offerings.
                                As you step through the entrance, you're greeted by an elegant and modern interior that
                                exudes a warm and inviting atmosphere.
                            </div>
                        </section>

                        <mat-divider></mat-divider>

                        <section class="restaurant-review-form">
                            <h3>Leave Your Review</h3>
                            <div class="restaurant-leave-review">
                                <app-review-form (formSubmitted)="addReview($event)" [state]="reviewFormEmitter"></app-review-form>
                            </div>
                        </section>

                        <h3 *ngIf="reviews.length">Customer Reviews with AI Sentiment Analysis</h3>
                        <div class="restaurant-reviews">
                            <div class="restaurant-review" *ngFor="let review of reviews; let i = index" [ngClass]="{'first-review': i === 0}">
                                <div class="restaurant-review-user">
                                    <img
                                        src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg"
                                        width="150"
                                        height="150"
                                    />
                                    <span>{{ review.name }}</span>
                                </div>
                                <div class="restaurant-review-details">
                                    <div class="restaurant-review-details-header">

                                        <ng-container [ngSwitch]="review.sentiment">
                                            <span class="positive-text" *ngSwitchCase="5">Positive sentiment 🤩</span>
                                            <span class="positive-text" *ngSwitchCase="4">Positive sentiment 🤩</span>
                                            <span class="neutral-text" *ngSwitchCase="3">Neutral sentiment 😐</span>
                                            <span class="negative-text" *ngSwitchCase="2">Negative sentiment 😢</span>
                                            <span class="negative-text" *ngSwitchCase="1">Negative sentiment 😢</span>
                                        </ng-container>

                                        <span>Reviewed on {{review.date | date: 'mediumDate'}}</span>
                                    </div>

                                    <span class="restaurant-review-text">{{review.text}}</span>

                                    <div class="restaurant-review-scores">
                                        <span>Food </span>
                                        <span class="text-accent">{{ review.food || 'Not specified' }}</span> ·

                                        <span>Service </span>
                                        <span class="text-accent">{{ review.service || 'Not specified' }}</span> ·

                                        <span>Atmosphere </span>
                                        <span class="text-accent">{{ review.interior || 'Not specified' }}</span>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>

                            </div>

                        </div>

                    </mat-card-content>
                </mat-card>

            </div>
            <div>
                <div class="section-heading">

                    <mat-card class="restaurant-card restaurant-card-details-page restaurant-card-reservation">
                        <mat-card-header>
                            <mat-card-title>
                                <h2>Make a Reservation</h2>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>

                            <div class="restaurant-reservation-date-time">
                                <div>
                                    <label for="datepicker">Date</label>
                                    <mat-form-field>
                                        <mat-label>MM/DD/YYYY</mat-label>
                                        <input matInput [matDatepicker]="datepicker">
                                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <label for="timepicker">Time</label>
                                    <mat-form-field>
                                        <select #timepicker matNativeControl>
                                            <option value="1900">7:00 PM</option>
                                            <option value="1930">7:30 PM</option>
                                            <option value="2000">8:00 PM</option>
                                            <option value="2030">8:30 PM</option>
                                            <option value="2100">9:00 PM</option>
                                            <option value="2130">9:30 PM</option>
                                            <option value="2200">10:00 PM</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button color="primary">Reserve</button>
                            </div>

                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                    </mat-card>

                    <mat-card class="restaurant-card restaurant-card-details-page restaurant-card-scores">
                        <mat-card-header>
                            <mat-card-title>
                                <h2>Rating and Scores</h2>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div class="restaurant-rating">
                                <span class="restaurant-rating-stars">⭐⭐⭐⭐ 4.8/5</span>
                                <span>#3 of 27,372 Restaurants in NYC</span>
                            </div>

                            <mat-divider></mat-divider>

                            <div class="restaurant-scores">
                                <div><span>🍽️ Food</span><span>⭐⭐⭐⭐⭐</span></div>
                                <div><span>💁‍♂️ Service</span><span>⭐⭐⭐⭐</span></div>
                                <div><span>🎂 Atmosphere</span><span>⭐⭐⭐⭐⭐</span></div>
                            </div>
                        </mat-card-content>


                    </mat-card>

                    <mat-card *ngIf="restaurant.summary" class="restaurant-card restaurant-card-details-page restaurant-card-summary">
                        <mat-card-header>
                            <mat-card-title>
                                <h2>AI-Generated Summary</h2>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <span class="restaurant-summary">{{ restaurant.summary }}</span>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </section>
    </div>
</div>

<app-restaurant-details-guided (reviewSubmitted)="addReview($event)" [reviewFormEmitter]="reviewFormEmitter"></app-restaurant-details-guided>
