.restaurant-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: -20px auto 0 auto;
    background: #fff;
}

.restaurant-card.restaurant-card-details-page {

    .mat-mdc-card-header {
        padding-top: 0;
    }


    mat-card-title {
        padding-bottom: 0;
    }

}

.restaurant-description, .restaurant-review-text, .restaurant-summary {
    line-height: 30px;
    font-size: 18px;
    margin: 30px 0;
}

.restaurant-banner {
    position: relative;
    height: 500px;
    width: 100%;

    .restaurant-cover {
        object-fit: cover;
    }
}

.restaurant-scores-label {
    text-transform: uppercase;
}

.restaurant-scores {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 35px;

    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.restaurant-rating {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-size: 18px;

    .restaurant-rating-stars {
        font-size: 30px;
    }

    span {
        margin: 10px 0;
    }

    mat-divider {
        margin: 20px 0;
    }

}


.restaurant-reviews {
    font-size: 20px;

    .restaurant-review {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 50px 0;
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

    .restaurant-review-user {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #8e8e8e;
    }

    .restaurant-review-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .restaurant-review-details-header {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .restaurant-review-scores {
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.restaurant-section-wrapper {
    align-self: center;

    .restaurant-section {
        width: 70rem;
        min-height: 100rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: -68px;

        .restaurant-card-header-details, .restaurant-card-reservation {
            padding-left: 30px;
            padding-right: 30px;
        }

        .restaurant-card-header-details {
            width: 1000px;

            h1 {
                margin: 20px 0;
                font-size: 48px;
                line-height: 80px;
                font-weight: bold;
            }

            h3 {
                margin: 40px 0 20px 0;
                font-size: 32px;
            }

            .restaurant-features {
                display: flex;
                flex-direction: row;
                gap: 15px;
                font-size: 20px;
                margin: 20px 0;
            }


        }


        .restaurant-card-summary, .restaurant-card-reservation, .restaurant-card-scores {
            width: 350px;

            .mat-mdc-card-header {
                justify-content: center;
            }

            .mat-divider {
                margin-bottom: 25px;
            }
        }

        .restaurant-card-reservation {

            .restaurant-reservation-date-time {
                margin: 10px 0;
                display: flex;
                flex-direction: column;

                & > div {
                    display: flex;
                    flex-direction: column;
                }

                label {
                    margin-left: 3px;
                    margin-bottom: 5px;
                    font-size: 16px;
                }
            }
        }

    }
}


.photos-preview {
    grid-template-columns: repeat(3, 186px);
}