<div class="restaurant-card-wrapper">
    <mat-card class="restaurant-card card-details" *ngIf="restaurant">
        <mat-card-header>
            <mat-card-subtitle>
            </mat-card-subtitle>
            <mat-card-title>{{ restaurant.name }} </mat-card-title>
        </mat-card-header>
        <img
            priority
            class="cropped"
            width="300"
            height="200"
            mat-card-image
            [ngSrc]="restaurant.imageURL"
            [alt]="restaurant.name"
        />
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>