.dialog-container {
    min-width: 1000px;
    min-height: 500px;
}

h2 {
    font-size: 30px !important;
    margin: 30px;
}

.media-preview {
    margin: 20px 0;
    grid-gap: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .media-row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
    }

    .media-preview {
        justify-self: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        max-width: 600px;

        h3 {
            font-weight: bold;
            font-size: 18px;
        }
    }
}