<div class="dialog-container">
    <h2 mat-dialog-title>Add images and videos</h2>
    <mat-dialog-content class="mat-typography">
        <span *ngIf="uploading">Uploading your files...</span>
        <span *ngIf="allFailed">Uploading files failed!</span>

        <div class="media">
            <div class="media-preview">
                <div class="media-row" *ngFor="let file of uploadedImages">
                    <app-media-preview [file]="file" size="medium"></app-media-preview>
                    <div class="description">
                        <h3>AI-generated description and tags</h3>
                        <span>{{ file.description }}</span>
                        <span><span class="text-bold">Tags: </span>{{ file.tags.join(", ") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>

</div>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="[]">Cancel</button>
    <button mat-button [mat-dialog-close]="uploadedImages" cdkFocusInitial [disabled]="uploading">Attach files</button>
</mat-dialog-actions>