/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';

ngx-guided-tour .tour-step .tour-title {
    padding: 0 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #2d333f;
}

body, span, p,
.mat-mdc-card,
.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3,
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2,
.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography,
ngx-guided-tour .tour-step .tour-buttons .next-button
{
    font-family: "Euclid Circular A", Roboto, "Helvetica Neue", sans-serif;
}

ngx-guided-tour .tour-step .tour-buttons .next-button {
    background-color: #3F51B9;
    color: #ffffff;
    padding: 4px 0;

    &:hover {
        background-color: #616ebc;
    }
}

ngx-guided-tour .tour-step .tour-buttons .next-button {
    border-radius: 15px !important;
}

.center {
    text-align: center;
}

.content-wrapper {
    padding: 20px 70px;
    display: block;
    background: #fafafa;
}

.text-accent {
    color: orange;
}

.positive-text {
    color: green;
}

.negative-text {
    color: red;
}

.neutral-text {
    color: grey;
}

.restaurant-card {
    width: 600px;
    margin: 0 30px 40px 0;

    mat-card-title {
        padding: 20px;
        font-size: 36px;
        margin-top: 20px;
    }

    .restaurant-card-details > span, mat-card-actions > a {
        padding: 0 20px;
        font-size: 20px;
        line-height: 36px;
        font-weight: lighter;
    }
}

.restaurant-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .restaurant-card-details {
        display: flex;
        flex-direction: column;
    }
}

.cropped {
    object-fit: cover;
    margin: 10px 0;
}

.img-link {
    cursor: pointer;
}

.text-label {
    font-weight: bold;
}

.cdk-overlay-container {
    margin-top: 4px;
}

.primary-header {
    background: #F9EBFF;
    color: #00684A;
    padding: 35px 0 35px 12%;
    margin: -20px -70px 50px -70px;

    h1 {
        font-size: 64px;
        line-height: 72px;
        font-family: 'MongoDB Value Serif';
    }

    h2 {
        font-size: 18px;
        line-height: 32px;
        color: #001E2B;
        font-weight: lighter;
    }

    @media only screen and (max-width: 400px) {
        padding: 35px;

        h1 {
            font-size: 45px;
            text-align: center;
        }

        h2 {
            display: none;
        }
    }
}

.photos-preview {
    margin: 20px 0;
    grid-gap: 16px 16px;
    display: grid;
    grid-template-columns: repeat(4, 186px);

    .photo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        height: 124px;
        position: relative;
        width: 186px;
        border-radius: 6px;

        img {
            max-height: 124px;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            height: auto !important;
            width: auto !important;
            border-radius: 6px;
        }
    }
}

.text-bold {
    font-weight: bold;
}